body {
  text-align: center;
  background-color: #283149;
}

h1 {
  font-family: "Arvo", cursive;
  font-size: 5rem;
  color: #DBEDF3;
  text-shadow: 3px 0 #DA0463;
}

.set {
  margin: 10% auto;
}

.drum {
  width: 150px;
  height: 150px;
  margin: 10px;
  outline: none;
  border: 10px solid #404B69;
  border-radius: 15px;
  background-color: white;
  font-family: 'Arvo', cursive;
  font-weight: 900;
  font-size: 5rem;
  line-height: 2;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.w {
  background-image: url('../images/tom-1.png');
  background-size: cover;
}

.a {
  background-image: url('../images/tom-2.png');
  background-size: cover;
}

.s {
  background-image: url('../images/tom-3.png');
  background-size: cover;
}

.d {
  background-image: url('../images/tom-4.png');
  background-size: cover;
}

.j {
  background-image: url('../images/snare.png');
  background-size: cover;
}

.k {
  background-image: url('../images/crash.png');
  background-size: cover;
}

.l {
  background-image: url('../images/kick.png');
  background-size: cover;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}